@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body, html {
  height: 100%;
  margin: 0;
  background-color: white !important;
}

.background{
  background: url('./assets/images/background.jpg') no-repeat center center fixed;
    background-position: 50% -230px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
 width: 100%;
 height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
}
.logo{
  color:white;  
  font-size: 35px;
  font-family: 'Permanent Marker'
}

